[Unit]
Description=i3lock
Before=sleep.target

[Service]
User=io
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -t -i /home/io/img/lock

[Install]
WantedBy=sleep.target
