set clipboard+=unnamed
set number relativenumber

set hlsearch incsearch ignorecase smartcase
nnoremap <esc> :noh<return><esc>

set surround
set commentary

set easymotion

map <space>c <Plug>(easymotion-bd-f)
map <space>l <Plug>(easymotion-bd-jk)
map <space>w <Plug>(easymotion-bd-w)

" run/debug

map <C-m>a :action CompileDirty<CR>

map <C-m>r :action Run<CR>
map <C-m>R :action RunClass<CR>
map <C-m>m :action RunConfiguration<CR>

map <C-m>s :action Stop<CR>
map <C-m>d :action Debug<CR>
map <C-m>c :action Resume<CR>
map <C-m>b :action ToggleLineBreakpoint<CR>

" tabs

"map :q :tabclose
map <C-l> :tabnext<CR>
map <C-h> :tabprev<CR>

" misc

map :w :action ReformatCode
map <C-j> :action QuickJavaDoc<CR>
map <C-c>n :action RenameElement<CR>
map <C-c>f :action ReformatCode<CR>
