set clipboard+=unnamed
set number relativenumber
set hlsearch incsearch ignorecase smartcase

set surround
set commentary

let mapleader = " "

" run

map <leader>ma :action CompileDirty<CR>
map <leader>mr :action Run<CR>
map <leader>mR :action RunClass<CR>
map <leader>mm :action RunConfiguration<CR>
map <leader>ms :action Stop<CR>

" debug

map <leader>dd :action Debug<CR>
map <leader>dD :action DebugClass<CR>
map <leader>dc :action Resume<CR>
map <leader>dn :action StepOver<CR>
map <leader>dN :action StepInto<CR>
map <leader>db :action ToggleLineBreakpoint<CR>

" tabs

map <C-l> :tabnext<CR>
map <C-h> :tabprev<CR>

" misc

nnoremap <esc> :noh<return><esc>
map :w :action ReformatCode
map <leader>j :action QuickJavaDoc<CR>
map <leader>cn :action RenameElement<CR>
map <leader>cf :action ReformatCode<CR>
